[submodule "code/containers"]
	path = code/containers
	url = /scratch1/03201/jbwexler/openneuro_derivatives_tests/containers
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives_tests/containers
[submodule "code/tacc-openneuro"]
	path = code/tacc-openneuro
	url = https://github.com/poldracklab/tacc-openneuro.git
[submodule "sourcedata/freesurfer"]
	path = sourcedata/freesurfer
	url = ./sourcedata/freesurfer
	datalad-id = 68886d3e-7c0f-4d2a-b921-53d72b0aca1c
[submodule "sourcedata/raw"]
	path = sourcedata/raw
	url = /scratch1/03201/jbwexler/openneuro_derivatives_tests/raw/ds001612
	datalad-id = 9e105fc0-f985-11e8-832a-0242ac130023
